<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple mustache test</title>
  </head>
  <body>
    <h1>This is mustacheee</h1>
    {{#value}}
      <p>{{value}}</p>
    {{/value}}
  </body>
</html>
